@use '../custom' as *;
@mixin gradient {
     background: linear-gradient(to right,rgba($primary-color,0.95),rgba($secondary-color,0.95));
}
@mixin absoluteCenter {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
}
@mixin transitionProperty {
     transition-property: all;
     transition-duration: 1s;
}