@use '../custom' as *;
@use '../components/mixins' as *;
.menu {
     @include gradient;
     li {
          padding: 0rem 0.7rem;
          a {
               color: $white-color;
               padding: 0rem 0.7rem;
               text-transform: capitalize;
               font-weight: 600;
          }
          &:hover {
               color: $white-color;
          }
     }
}