@use '../custom' as *;
.services {
     position: relative;
     padding: 1rem 0rem;
     &__content {
          margin-top: 0rem;
          padding: 1rem;
          p {
               font-size: 0.8rem;
               @include media-breakpoint-up(large){
                    font-size: 1rem;
               }
          }
          @include media-breakpoint-up(large){
               margin-top: 5rem;
          }
          .icon {
               font-size: 1.5rem;
               color: $primary-color;
               @include media-breakpoint-up(large){
                    font-size: 2.5rem;
               }
          }
     }
     &__picture {
          max-width: 100%;
     }
}